bin/Debug/net5.0/facade.deps.json
bin/Debug/net5.0/facade.dll
bin/Debug/net5.0/facade.exe
bin/Debug/net5.0/facade.pdb
bin/Debug/net5.0/facade.runtimeconfig.dev.json
bin/Debug/net5.0/facade.runtimeconfig.json
bin/Debug/net5.0/ref/facade.dll
obj/facade.csproj.nuget.dgspec.json
obj/facade.csproj.nuget.g.props
obj/facade.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/facade.AssemblyInfoInputs.cache
obj/Debug/net5.0/facade.assets.cache
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/facade.AssemblyInfo.cs
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/facade.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/facade.csproj.FileListAbsolute.txt
obj/Debug/net5.0/facade.csprojAssemblyReference.cache
obj/Debug/net5.0/facade.dll
obj/Debug/net5.0/facade.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/facade.genruntimeconfig.cache
obj/Debug/net5.0/facade.pdb
obj/Debug/net5.0/ref/facade.dll
